*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
        background-color: #9becda !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        margin: 0;
      
    }

    body-contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    border-radius: 20px;
    background-color: #91d9e4;
    width: 340px;

    }

.input-graup{
    display: flex;
    flex-direction: column;
    text-align: right;
  

}


h2{
    font-size: 35px;
    color: red;

}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(218, 251, 170);
    border: 2px solid #9becda;
    color: #333;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #555;

}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.form-txt a {
    color: aliceblue;
    font-size:14px;
    font-weight: 600;
    text-decoration: none;

}

.btn {
    font-size: 16px;
    color: green;
    border: 0;
    border-radius: 25px;
    background-color: greenyellow;
    box-shadow: 0 0  25px rgba(25, 254, 0 , 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: palegoldenrod;

}

@media(max-width:991px){
    .body-coctacto{
 padding: 30px;

    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px ;

    }
}
ul{
    color: #3C3D37;
    font-size: 12px;
}

li{
color: #6a6a6a;
font-size: 6px;
}

ul li :hover{
    color: #286bcf;
}

.container-world {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #4babda;
}

/*navegado inicio*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 30px 50px;
    position: relative;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
    
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 8px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 5px;
    width: 30px;
    background-color: #fff;
    margin: 3px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }
     
    .nav-links a{
        font-size: 15px;

    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    } 
        
}
/*Navegado final*/



/* pie de pagina */
.footer {
    position: relative;
    width: 100%;
    background: #333;
    min-height: 100px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
    color: #3C3D37;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

