* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #9becda !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}
 

.container_world{
     max-width: 1200px;
     margin: 20px auto;
     padding: 20px;
     border-radius: 10px;
     background-color: #4babda;
}



.container {
    max-width: 800px;
    margin: auto;
    text-align:center;
}

h1 {
    color: #f80c0c !important;
}

.team-member {
    background: white;
    border: 1px solid #332626;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: calc(25% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    vertical-align: top; 
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    color: #555;
    margin: 10px 0 5px;
    font-size: 1.1em; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

p {
    color: #777;
    margin: 0; 
    font-size: 1em; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    background-color: #4babda; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 42px !important;
    cursor: pointer; 
    margin-top: 20px; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #06c7f3;
}

@media (max-width: 600px) {
    body {
        background-color: lightblue; 
    }

    .container {
        padding: 10px; 
    }

    h1 {
        font-size: 1.5em; 
    }

    .team-member {
        width: 100%; 
        margin-bottom: 20px; 
    }
}