
*{
box-sizing: content-box;
}

body{
    background-color: #F5F5DC;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

 
#welcome{
    background-color: brown;
    color: burlywood;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
}

.h2{
    font-size: 65px;
}

.p{
    font-size: 20px;
}

#SONOTRO{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 90vh;
        color: white;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(IMG/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}

#SONOTRO h1{
    color: white;
    font-size: 64px;
}

