/* codigo caja */
*{
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

.container-word{
    background-color: #fff;
    border-radius: 10px;
    
}
/* final */

/* Navegador */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 30px 50px;
    position: relative;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;

}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 8px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 5px;
    width: 30px;
    background-color: #fff;
    margin: 3px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links a {
        font-size: 15px;

    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Final */




/* Comienso de footer */
.footer {
    position: relative;
    width: 100%;
    background: #286bcf;
    min-height: 100px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
    color: #3C3D37;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
/* final */