* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #9bcbea;
    /* Cambia la ruta a la ubicación de tu imagen */
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* Centra la imagen en el fondo */
    height: 100vh;
    /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0;
    /* Elimina el margen predeterminado del body */
}


h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 14px;
}

ul {
    color: #3C3D37;
    font-size: 12px;
}

li {
    color: #6a6a6a;
    font-size: 6px;
}

ul li :hover {
    color: #286bcf;
}

.container-world {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #555555;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 30px 50px;
    position: relative;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;

}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 8px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 5px;
    width: 30px;
    background-color: #fff;
    margin: 3px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav-links a {
        font-size: 15px;

    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.producto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    /* Ajusta el ancho según sea necesario */
}

.producto img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.precio {
    font-size: 20px;
    color: #e74c3c;
    margin: 10px 0;
}

.btn-comprar {
    background-color: #4babda;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.btn-comprar:hover {
    background-color: #3a9bcf;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .productos {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 90%;
        /* Ajusta el ancho en pantallas pequeñas */
    }
}

.footer {
    position: relative;
    width: 100%;
    background: #333;
    min-height: 100px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
    color: #3C3D37;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}